<!--begin::Signin-->
<div class="m-login__signin">
	<div class="m-login__title">
		<h3 class="m-login__title"><?php echo t("Sign Up"); ?></h3>
		<div class="m-login__desc"><?php echo t("Enter your details to create your account:"); ?></div>
	</div>

	<m-auth-notice></m-auth-notice>

	<!--begin::Form-->
	<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
		<div class="form-group">
			<mat-form-field> 
				<mat-label><?php echo t("Fullname"); ?></mat-label>
				<input matInput type="text" name="fullname" placeholder="<?php echo t('Fullname'); ?>" autocomplete="off" [(ngModel)]="model.fullname" #fullname="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<i class="fa fa-info"></i>
				<mat-label><?php echo t("Email"); ?></mat-label>
				<input matInput type="email" name="email" placeholder="<?php echo t('Email address'); ?>" autocomplete="off" [(ngModel)]="model.email" #email="ngModel" email="true" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<i class="fa fa-info" ></i>
				<mat-label><?php echo t("Password"); ?></mat-label>
				<input matInput minlength="4" type="password" name="password" placeholder="<?php echo t('Password'); ?>" autocomplete="off" [(ngModel)]="model.password" #password="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
				<mat-form-field> 
					<mat-label><?php echo t("Mobile"); ?></mat-label>
					<input matInput type="number" minlength="11" name="mobile" placeholder="<?php echo t('Mobile'); ?>" autocomplete="on" [(ngModel)]="model.mobile" #cell="ngModel" required>
				</mat-form-field>
			</div>
		<div class="form-group">
			<mat-form-field>
				<mat-label><?php echo t("Confirm Password"); ?></mat-label>
				<input matInput minlength="4" type="password" name="rpassword" placeholder="<?php echo t('Confirm Password'); ?>" autocomplete="off" [(ngModel)]="model.rpassword" #rpassword="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<i class="fa fa-info"></i>
				<mat-label><?php echo t("Username"); ?></mat-label>
				<input matInput type="username" name="username" placeholder="<?php echo t('Username'); ?>" autocomplete="off" [(ngModel)]="model.email" #email="ngModel" email="true" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-checkbox name="agree" required="true" [(ngModel)]="model.agree" #agree="ngModel"><?php echo t("I agree the"); ?>
				<a href="javascript:;"><?php echo t("terms & conditions"); ?></a>
			</mat-checkbox>
		</div>
	</form>
	<!--end::Form-->

	<!--begin::Action-->
	<div class="m-login__action m-login__action--fit">
		<button mat-button (click)="loginPage($event)" [disabled]="loading" translate="AUTH.GENERAL.BACK_BUTTON"><?php echo t("Back"); ?></button>
		<m-spinner-button [options]="spinner" (click)="submit()"> <?php echo t("SIGNUP"); ?></m-spinner-button>
	</div>
	<!--end::Action-->
</div>
<!--end::Signin-->
