body{
    font-family: tahoma;
    text-align: right;
}
.m-login .m-login__wrapper
{
    position: relative;
}
.m-login.m-login--6 .m-login__wrapper .m-login__head
{
    left: auto;
    right: 3.5rem;
    top: 1rem;
}
.mat-form-field
{
    text-align: right !important;
}
.mat-form-field-label {
    right: 0;
    transform-origin: 100% 0 !important;
}